mixin card-service(dataCards = productCards.principal)
    each card, i in dataCards
        if i%2 == 0  
            .card.card-body.p-4.rounded-xl.d-grid.card-principal.grey.lighten-2(id=`data_card_${i}`)
                h4.montserrat.text-uppercase.text-center.font-weight-bold.spacing-1= card.name
                img(src=`./img/assets/${card.img}`, alt="", height="120")
        else 
            .card.card-body.my-3.p-4.rounded-xl.d-grid.card-principal.grey.lighten-1(id=`data_card_${i}`)
                img(src=`./img/assets/${card.img}`, alt="", height="120")
                h4.montserrat.text-uppercase.text-center.font-weight-bold.spacing-1= card.name

mixin camisetaFrentePrimaria
    #camisetaFrentePrimaria.position-relative
        <svg xmlns="http://www.w3.org/2000/svg" width="265.948" height="335.955" viewBox="24.295 312.958 265.948 335.955"><path fill="#EEEEEE" d="M290.243 450.512c-.863-13.883-2.9-44.825-2.9-44.825-.617-17.569-6.016-31.992-12.725-42.512-9.039-14.16-19.961-21.41-19.961-21.41-11.137-6.51-17.061-7.08-28.352-9.98-11.291-2.9-26.609-12.001-26.609-12.001.021.109.027.21.046.318-.731-.702-2.032-1.295-2.739-1.926-1.502-1.337-1.377-1.898-3.732-2.479-4.367-1.076-12.16-2.056-17.305-2.024-2.549.016-3.412-.381-5.967-.37-2.125.009-4.256.023-6.379.021-2.281-.002-3.461-.327-5.85-.366h-1.117c-4.604.044-6.717.375-11.723.351-6.338-.031-17.434.936-23.35 2.321-2.57.602-2.266.904-3.848 2.373-.762.708-2.256 1.409-3.008 2.188.047-.262.086-.406.086-.406-11.863 8.392-41.078 16.629-41.078 16.629-11.568 3.332-13.883 5.646-13.883 5.646l.006.022c-6.676 4.612-12.717 11.563-12.717 11.563-19.234 18.217-20.531 60.59-20.531 60.59-.293 16.783-2.313 36.003-2.313 36.003 18.51 9.98 46.275 9.842 46.275 9.842 1.295-.433 1.156-3.039 1.156-3.039 0-7.234 1.158-12.587 1.158-12.587.029-9.409.354-18.495.154-21.396-.063-.586-.154-.91-.293-.879l1.444-4.75.421 1.264c2.607 9.549 2.176 27.041 2.176 27.041.586 32.825 1.588 45.844 1.588 45.844.139 9.842 1.744 17.646 1.744 17.646 2.313 34.138.293 61.903.293 61.903-3.332 35.139-9.457 64.152-9.842 65.217l-.387 1.064c9.256 7.713 68.645 10.799 68.645 10.799 41.463 3.471 99.693-6.941 99.693-6.941 4.441-1.357 5.6-3.857 5.6-3.857-15.811-86.768-9.457-128.23-9.457-128.23 1.744-10.798 3.086-50.133 3.086-50.133.385-4.828.201-10.227.201-10.227-1.126-19.121 2.313-30.585 2.504-31.206 2.06 4.028 1.629 25.822 1.629 25.822-.139 1.882.293 4.628.293 4.628.865 6.37.586 10.998.586 10.998 10.26 4.902 47.282-8.549 47.282-8.549z"/><path d="M197.002 318.176c-1.502-1.337-1.375-1.898-3.731-2.479-4.369-1.076-12.162-2.056-17.305-2.024-2.549.016-3.413-.381-5.966-.37-2.126.009-4.257.023-6.379.021-2.281-.002-3.461-.327-5.85-.366H156.653c-4.602.044-6.717.375-11.722.351-6.338-.031-17.433.936-23.35 2.321-2.57.602-2.265.904-3.847 2.373-1.044.97-3.468 1.926-3.468 3.085 0 3.752-.219 6.446 1.876 9.894 11.602 19.069 61.252 20.657 78.811 4.159 5.302-4.979 5.327-8.048 5.327-14.053 0-1.186-2.263-2.008-3.278-2.912zm-10.993 15.227c-6.428 3.951-20.671 7.481-29.109 7.481-8.733 0-21.317-3.602-28.076-7.398-3.914-2.197-8.201-7.502-8.201-12.754l.003.001h30.665c.887 0 1.357-.352 2.243-.352l7.381.177c10.365.494 22.272.175 33.006.175.001 5.165-4.185 10.379-7.912 12.67z"/><path opacity=".7" fill="#353535" d="M160.915 320.558l-7.381-.177c-.886 0-1.356.352-2.243.352h-30.665l-.003-.001c0 5.252 4.287 10.557 8.201 12.754 6.758 3.796 19.343 7.398 28.076 7.398 8.438 0 22.682-3.53 29.109-7.481 3.727-2.291 7.913-7.505 7.913-12.67-10.734 0-22.641.319-33.007-.175z"/></svg>
        #tramaFrente.position-absolute.top-0.left-0.right-0.bottom-0.mx-auto
        img(src="./img/assets/COLOR-PRIMARIO.png", alt="", id="pattern-front").img-fluid.position-absolute.filter-hue.z-index-5.top-0.left-0.bottom-0.right-0

mixin camisetaDorsoPrimaria
    #camisetaDorsoPrimaria.position-relative
        <svg xmlns="http://www.w3.org/2000/svg" width="272.686" height="337.104" viewBox="309.848 312.688 272.686 337.104"><path fill="#EEEEEE" d="M582.491 452.257s-1.435-19.098-2.453-35.294c0 0 1.728-29.646-15.626-56.117 0 0-5.342-6.46-16.149-16.195a68.07 68.07 0 00-.02-.417c-10.504-6.077-25.051-10.149-25.051-10.149-14.746-2.992-32.315-13.173-32.315-13.173-.406-.323-1.171-.64-2.055-.928-.688-.771-2.142-1.399-2.899-2.075-1.502-1.338-1.376-1.898-3.731-2.48-4.368-1.074-12.161-2.055-17.305-2.023-2.549.016-3.413-.381-5.967-.369-2.126.009-4.257.023-6.379.021-2.281-.003-2.025-.328-4.413-.367-4.603.045-9.271.376-14.277.353-6.338-.031-17.433.936-23.35 2.32-2.57.602-2.265.904-3.847 2.373-.807.748-2.432 1.49-3.132 2.322-16.826 10.447-44.054 17.637-44.054 17.637-6.371 2.129-13.497 5.6-13.497 5.6-.036.064-.131-.006-.165.06l-.279-.091s-4.535 4.92-9.055 8.375c0 0-21.688 16.197-23.91 59.002l-.293 7.806-.586 6.371s-.185 7.912-.863 14.947c0 0-.294 14.066-.973 15.039 0 0 11.184 10.504 38.379 11.568 0 0 6.756.201 9.934-2.406 0 0-.216-1.928.077-7.033 0 0 .401-4.828.787-8.777 0 0-.864-13.682.679-23.908 0 0-.293-1.451 1.249-1.203l.218-.388c.145.25.227.388.227.388 2.9 7.805 3.471 27.334 3.471 27.334 2.313 27.766 5.646 66.529 5.646 66.529 3.471 52.059-7.527 108.178-7.527 108.178-.694 4.395-1.589 8.098-1.589 8.098 1.357 13.111 27.766 14.561 27.766 14.561 50.61 4.242 102.578.586 102.578.586 24.681-.477 32.101-5.49 32.101-5.49 7.142-3.086 8.299-8.576 8.299-8.576.586-1.543-.864-5.215-.864-5.215-5.521-32.131-7.913-56.596-7.913-56.596-2.406-26.223-.478-56.115-.478-56.115 2.313-17.646 4.534-51.676 4.534-51.676 1.45-13.496 2.314-29.602 2.314-29.602.665-6.096 2.077-9.91 2.692-11.346.083.311.305 1.266.596 3.463 0 0 .371 7.666.51 21.256 0 0 .586 7.234.802 15.117 0 0 .94 2.822 7.019 2.746 0 0 16.845 1.65 38.532-8.9-.002-.004 3.037-2.026 2.605-5.141z"/><path d="M404.035 320.022s3.563-.864 7.033-1.064h72.406s3.092.553 5.365 1.294c-.688-.77-2.141-1.4-2.898-2.076-1.502-1.337-1.377-1.898-3.732-2.479-4.367-1.075-12.16-2.056-17.305-2.024-2.549.016-3.412-.381-5.967-.369-2.125.009-4.256.023-6.379.021-2.281-.003-3.461-.327-5.85-.366h-1.117c-4.604.045-6.717.375-11.723.352-6.338-.031-17.434.936-23.35 2.32-2.57.602-2.266.904-3.848 2.373-.807.749-2.432 1.49-3.131 2.323.166-.103.334-.202.496-.305z"/></svg>
        #tramaDorso.position-absolute.top-0.left-0.right-0.bottom-0.mx-auto.z-index-3
        #numeroDorso.position-absolute.top-0.left-0.right-0.bottom-0.mx-auto.z-index-4.w-100
        img(src="./img/assets/COLOR-PRIMARIO-DORSO.png", alt="", id="pattern-back").img-fluid.position-absolute.filter-hue.z-index-5.top-0.left-0.bottom-0.right-0

mixin modelosRemeras(objRemeras)
    #modelosRemeras
        #remerasContainer
            .mySlider.fade-custom.d-flex.flex-wrap.flex-row.justify-content-center(data-myslider="1")
                - let arr = objRemeras.slice(0,17);
                    +getRemeras(arr)
            .mySlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-myslider="2")
                - let arr2 = objRemeras.slice(18,33);
                    +getRemeras(arr2)
            .mySlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-myslider="3")
                - let arr3 = objRemeras.slice(34,49);
                    +getRemeras(arr3)
            .mySlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-myslider="4")
                - let arr4 = objRemeras.slice(50);
                    +getRemeras(arr4)  
            .direcciones.w-100.d-flex.justify-content-around.align-items-end                
                .puntos
                    span.punto.active(onclick="posicionSlide(1)")
                    span.punto(onclick="posicionSlide(2)")
                    span.punto(onclick="posicionSlide(3)")
                    span.punto(onclick="posicionSlide(4)")  
                    
mixin nombreNumerosRemeras(nombreNumero)
    #nombreNumerosRemeras
        #nombreNumerosRemerasContainer
            .myOtherSlider.fade-custom.d-flex.flex-wrap.flex-row.justify-content-center(data-slider-model="1")
                - let arrN1 = nombreNumero.slice(0,3);
                    +getNombreNumeros(arrN1)
            .myOtherSlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-slider-model="2")
                - let arrN2 = nombreNumero.slice(3,6);
                    +getNombreNumeros(arrN2)
            .myOtherSlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-slider-model="3")
                - let arrN3 = nombreNumero.slice(6,9);
                    +getNombreNumeros(arrN3)
            .myOtherSlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-slider-model="4")
                - let arrN4 = nombreNumero.slice(9,12);
                    +getNombreNumeros(arrN4)
            .myOtherSlider.fade-custom.d-none.flex-wrap.flex-row.justify-content-center(data-slider-model="5")
                - let arrN5 = nombreNumero.slice(12,15);
                    +getNombreNumeros(arrN5)
        .direcciones.w-100.d-flex.justify-content-around.align-items-end                
                .puntos
                    span.punto.active(onclick="posicionSlideModels(1)")
                    span.punto(onclick="posicionSlideModels(2)")
                    span.punto(onclick="posicionSlideModels(3)")
                    span.punto(onclick="posicionSlideModels(4)") 
                    span.punto(onclick="posicionSlideModels(5)") 

mixin formContact()
    //  Default form contact 
    form.text-center.border.border-light.p-5(action="#!")
        p.h4.mb-4 Contact us
        //  Name 
        input#defaultContactFormName.form-control.mb-4(type="text", placeholder="Nombre Completo")
        //  Email 
        input#defaultContactFormEmail.form-control.mb-4(type="email", placeholder="E-mail")
        //  Telephone 
        input#defaultContactFormTelephone.form-control.mb-4(type="number", placeholder="Telefono")
        //  Message 
        .form-group
            textarea.form-control.rounded-0#exampleFormControlTextarea2(rows="3", placeholder="Consulta")
        //  Copy 
        //  Send button 
        button.btn.btn-green.btn-block(type="submit") Enviar
        //  Default form contact 

mixin mapTolone()
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.864806508414!2d-58.405000684296844!3d-34.60757998045852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaec3423110f%3A0x66a9213179733dd5!2sTolone!5e0!3m2!1ses-419!2sar!4v1596422076119!5m2!1ses-419!2sar", width="100%", height="450", frameborder="0", style="border:0;", allowfullscreen, aria-hidden="false", tabindex="0").rounded-xl

mixin getNombreNumeros(nombreNumeros)
    each e, i in nombreNumeros
        .card.card-body.p-1.m-1(style="width: 120px;")
            p.m-0.p-1.text-center.text-uppercase.font-weight-bold.font-14(data-get=`${e.name}`) #{e.title} 

mixin getRemeras(remeras)
    each remera in remeras
        if(remera.name === "model01" || remera.name === "model04")    
            .card.card-body.p-1.m-1.d-none(id=`${remera.name}`)
                img(src=`${remera.path}`, alt=`${remera.name}`, data-forms=`${remera.forms}`, width="50").d-block.mx-auto
        else
            .card.p-0.m-1.square-element-4.rounded-xl.z-depht-2.fade-custom(id=`${remera.name}`, data-slide=`${remera.name}`)
                img(src=`${remera.path}`, alt=`${remera.name}`, data-forms=`${remera.forms}`, width="50").d-block.m-auto

mixin formSolicitarCreacion() 
    #stepwizard
        h1 First Step
        div First Content
            h1 Second Step
        div Second Content

mixin solicitarCreacion()
    button.btn.btn-success.py-3.my-5(type="button", data-toggle="modal", data-target="#formCreation") SOLICITAR camiseta
    
    //  Modal 
    .modal.fade#formCreation(tabindex="-1", role="dialog", aria-labelledby="formCreationLabel", aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#formCreationLabel Solicitar creacion de camiseta
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                    +formSolicitarCreacion()
                .modal-footer.mx-auto
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                    button.btn.btn-primary(type="button") Enviar mail
