extends ../templates/template.pug
block append config
    - titlePage = "Productos"

block append content
    section.img-quienes-somos
        .container
            .row
                .col-12
                    #grid-productos
                        each pcs, i in productCards.second
                            div(class=`item-product-${i}`, id=`product-${i}-${pcs.name}`)
                                img(src=`./img/assets/${pcs.img}`, alt=`${pcs.name}`)

                            div(class=`item-expanded-${pcs.name}-${i} d-none text-center`)
                                h2 #{pcs.name}
                                if pcs.branch 
                                    each b in pcs.branch
                                        .card.card-body.m-2
                                            h4.card-title #{b.name}
                                            each t in b.texts
                                                p.card-text #{t}

                                        .d-flex.justify-content-center    
                                            each img in b.img
                                                img(src=`./img/assets/productos/${img}`, alt="", height="150").mx-3
                                else if pcs.description
                                    .card.card-body.m-2
                                        p #{pcs.description}
